<div class="dxp-template-form-row">
    <label for="node-input-webdavServer">
        <i class="fa fa-tv"></i>
        Server
    </label>
    <div class="content">
        <input type="text" id="node-input-webdavServer"/>
    </div>
</div>

<div class="dxp-template-form-row">
    <label for="node-input-name">
        <i class="fa fa-tag"></i>
        Name
    </label>
    <div class="content">
        <input type="text" id="node-input-name"/>
    </div>
</div>

<div class="dxp-template-form-row">
    <label for="node-input-entry">
        <i class="fa fa-ellipsis-h"></i>
        Property
    </label>
    <div class="content">
        <input type="text" id="node-input-entry"/>
        <input type="hidden" id="node-input-entryType"/>
        <div class="hint">If empty, configuration below will be used.</div>
    </div>
</div>
