<div class="form-row">
    <label for="node-config-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-config-input-name" placeholder="custom name"/>
</div>
<div class="form-row">
    <label for="node-config-input-age" ><i class="fa fa-tag"></i> Age</label>
    <input type="text" id="node-config-input-age" placeholder="enter age"/>
</div>
<div class="form-row">
    <label for="node-config-input-user" ><i class="fa fa-tag"></i> User</label>
    <input type="text" id="node-config-input-user" placeholder="enter user"/>
</div>
<div class="form-row">
    <label for="node-config-input-password" ><i class="fa fa-tag"></i> Password</label>
    <input type="password" id="node-config-input-password" placeholder="enter password"/>
</div>
