<div class="dxp-template-form-row">
    <label for="node-config-input-name">
        <i class="fa fa-tag"></i>
        Name
    </label>
    <div class="content">
        <input type="text" id="node-config-input-name"/>
    </div>
</div>
<div class="dxp-template-form-row">
    <label for="node-config-input-user">
        <i class="fa fa-user"></i>
        User
    </label>
    <div class="content">
        <input type="text" id="node-config-input-user"/>
    </div>
</div>
<div class="dxp-template-form-row">
    <label for="node-config-input-password">
        <i class="fa fa-key"></i>
        Password
    </label>
    <div class="content">
        <input type="password" id="node-config-input-password"/>
    </div>
</div>
