<div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="custom name"/>
</div>
<div class="form-row">
    <label for="node-input-age" ><i class="fa fa-tag"></i> Age</label>
    <input type="text" id="node-input-age" placeholder="enter age"/>
</div>
