@tailwind utilities; @tailwind components; @tailwind base;

@layer components {
  .alert {
    @apply p-4 mb-4 text-sm rounded-lg;
  }

  .alert-info {
    @apply text-blue-800 bg-blue-50;
  }

  .alert-danger {
    @apply text-red-800 bg-red-50;
  }

  .alert-success {
    @apply text-green-800 bg-green-50;
  }

  .alert-warning {
    @apply text-yellow-800 bg-yellow-50;
  }

  .alert-dark {
    @apply text-gray-800 bg-gray-50;
  }

  div.form-row {
    select {
      @apply w-[70%];
    }

    input[type="checkbox"] {
      @apply !w-auto !mt-0;
    }
  }

  .dxp-form-row {
    @apply mb-4;
    div.main {
      @apply flex gap-4 items-center;
      div:first-child {
        @apply w-[100px] flex items-center justify-start;

        i {
          @apply mr-2;
        }

        label {
          @apply truncate !mb-0;
        }
      }

      input, select, .red-ui-typedInput-container {
        @apply flex-1;
      }

      .red-ui-typedInput-container {
        border: 1px solid var(--red-ui-form-input-border-color);

        .red-ui-typedInput-type-select {
          @apply bg-gray-50;
          .red-ui-typedInput-type-label {
            display: inline !important;
          }

          .red-ui-typedInput-icon {
            @apply !ml-[5px];
          }
        }
      }

      input[type="checkbox"] {
        @apply !w-auto !mt-0 flex-shrink-0 flex-grow-0;
      }
    }

    .hint {
      @apply text-sm text-gray-500 mt-1;
      margin-left: calc(100px + 1rem);
      &.hint-info {
        @apply text-blue-800;
      }

      &.hint-danger {
        @apply text-red-800;
      }

      &.hint-success {
        @apply text-green-800;
      }

      &.hint-warning {
        @apply text-yellow-800;
      }
    }

  }

}

